//Fontes
$fonte: 'Roboto', sans-serif;

//Cores
$cor-primaria: #005346;
$cor-secundaria: #00807a;
$cor-terciaria: #a4c9bb;
$cor-quaternaria: #bfdad7;

//Tamanho das fontes 
$tamanho-do-texto: 3rem;